{% extends "layout.html" %}

{% block body %}

<section class="registrace" id="registrace">
    
  <!-- <h2>Kontaktní formulář</h2> -->

  <!-- Vybrali jste:

  <ul>
    <li><strong>Poptávka / nabídka: </strong> {{ demand_offer }}</li>
    <li><strong>Služba:</strong> {{ services }}</li>
  </ul> -->

  <h3>{{ headerText }}</h3>

  <p>Prosím, doplňte bližší informace. Buďte konkrétní v tom, s čím potřebujete / můžete pomoci, v kolik hodin se to hodí, popřípadě další potřebné informace.</p>

  <p>
      <form method="POST" action='/email_sent/' >
        
        <input type="hidden" name="id" value="{{ id }}">
        <table>
        <!-- <tr><td> Datum: </td><td><input type="date" min={{ minDateStr }} name="date" placeholder="datum"></td></tr>
        <tr><td> Čas: </td><td><input type="time" name="time" placeholder="Čas"></td></tr> -->
        <tr><td> Doplňující informace: </td></tr>
        <tr><td> <textarea rows = "3" cols = "60" name="info"></textarea></td></tr>
        <tr><td><input type="submit" class="btn btn-primary" value= 
          {% if (id_demand_offer == 2) %} 
          "Poslat poptávku" 
          {% else %}  
          "Poslat nabídku" 
          {% endif %}></td></tr>
      </table>
      </form>
  </p>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
  
  <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
  
  <script>
  
    webshims.setOptions('waitReady', false);
  
    webshims.setOptions('forms-ext', {type: 'date'});
  
    webshims.setOptions('forms-ext', {type: 'time'});
  
    webshims.polyfill('forms forms-ext');
  
  </script>

</section>





{% endblock %}