{% extends "layout.html" %}

{% block body %}

<form method="POST" class="row justify-content-center">
  <table>
    <tr><td>
  <h3>Hodnocení:</h3>
</td></tr>

{{ form.hidden_tag() }}

<tr><td>
  <div class="form-group">
    <select class="form-control" name="number_evaluation">
        {% for number in range_evaluation %}
        <option value= {{ number }} > {{ number}} </option>
        {% endfor %}
      </select>
</td>
<td> Oznámkujte spolupráci 1-5 (jako ve škole, 1 je nejlepší)</td>
</tr>
<!-- <tr><td>
  {{ form.number_evaluation}}
</td>
<td>Oznámkujte spolupráci 1-5 (jako ve škole, 1 je nejlepší)</td>
</tr> -->

<tr><td>
  {{ form.comment(cols="50", rows="10") }}
  
</td></tr>



<tr><td>
  {{ form.submit }}
</td></tr>
</table>
</form>
<div class="text-center">
{% for field, errors in form.errors.items() %}
  {% for error in errors %}
      <span style="color: red;">Chyba pole - {{ field }} hláška - {{ error }}</span><br>
  {% endfor %}
{% endfor %}


{% endblock %}