{% extends "layout.html" %}

{% block body %}

<div style="margin-top: 30px;">

<p><b>{{ entries[0] }}</b></p>
<p><b>Vaším partnerem je:</b> {{ entries[1] }} {{ entries[2]}}</p>
<p><b>Kontakt:</b> {{ entries[3] }}</p>
<!-- <p><b>Datum:</b> {{ entries[4] }}</p> -->

</div>

    {% if acceptButtonVisible %}

    <br>
    <form method="POST">
    <table class="table_requests_detail">
            <!-- <tr><th colspan=2>Změnit stav</th></tr> -->
           
            <tr> 
              <!-- <td><input type="submit" name="submit_button" value = 'Žádá se' id="1" class="btn btn-secondary" ></td> -->
              <!-- <td><input type="submit" name="submit_button" value = 'Potvrdit' id="2" class="btn btn-success"></td>
              <td><input type="submit" name="submit_button" value = 'Odmítnout' id="3" class="btn btn-danger" ></td> -->
              <!-- <td><input type="submit" name="submit_button" value = 'Proběhlo' id="4" class="btn btn-success" ></td> -->
          </tr>

    </table> 
    </form>  
    {% endif %} 
{% endblock %}