config.txt
static/users_images
python_random_generation/Format.py
python_random_generation/Regions.txt
python_random_generation/ZIP.py
python_random_generation/ZIP.txt
python_random_generation/r_d_data.csv
python_random_generation/r_d_table.csv
python_random_generation/test.py
python_random_generation/user_table.csv
__pycache__
*.pyc
.venv/*

