{% extends "layout.html" %}

{% block body %}

<!-- Match -->
<section class="prehled" id="prehled">
  
    <h2>Přehled</h2> 
    
    <p>Níže je přehled zadaných služeb a jejich poptávka / nabídka. </p>
  
      <table>
       <!-- to be replaced by users_services table -->
       <!-- ideally add filter on this table -->
        <tr>
          <th> Jméno </th> <th class="sloupec"> Příjmení </th> <th class="sloupec"> Služba </th> <th class="sloupec"> Nabídka/Poptávka </th> <th class="sloupec"> Lokalita </th>
        </tr>
        <tr> <td class="sloupec"> xxx </td><td class="sloupec"> xxx </td><td class="sloupec"> xxx </td><td class="sloupec"> xxx </td><td class="sloupec"> xxx </td>
          </tr> 
        </table>
  
  </section>

{% endblock %}  