{% extends "layout.html" %}

{% block body %}

<!-- Services -->
<section class="sluzby" id="sluzby">

    <h2>Služby</h2>
  
    <p>Prosím, vyberte službu a zda jí chcete nabízet či poskytovat. Je možné vybrat více služeb.</p>
   
    <table>
      <!-- to be replaced by services form -->
      <!-- data goes to users_services table -->
      <tr>
          <th> Nabídka </th> <th class="sloupec"> Poptávka </th>
        </tr>
      <tr>
        <th> Service list table</th> <th class="sloupec"> tick button </th>
      </tr>
      <tr> <td>Vaření</td> <td class="sloupec"> ano/ne </td>
      </tr> 
      <tr>
        <td>Šachy</td> <td class="sloupec"> ano/ne </td> 
      </tr>
      </table>
  
  
  
  </section>

  {% endblock %}