{% extends "layout.html" %}

{% block body %}

{{ sndmap.js }}   


<div class="profile_row">
    <div class="profile_column">
    
    <p> <b> {{name}} </b> </p>
    <p> <b>O mně:</b> {{info}} </p>

    {{ sndmap.html }}
    

    </div>
    
    <div class="profile_column_non_flex">
       
        <img align="right" class="moje_foto" src="{{ nazev }}" title="popis">
       
       
     
        

        <p> <b>E-mail:</b> {{mail}} </p>
        <p> <b>Telefon:</b> {{phone}} </p>
        <p><sub><a href="/profil_editace">Změna osobních údajů</a></sub></p>
        <p> <b>Mé zaregistrované služby:</b></p>

        <table class="table table-striped">
          <thead class="thead-light">
          <tr>
            <th class="sloupec"> Služba </th>
            <th class="sloupec"> Nabízím / Hledám </th>
            <th class="sloupec"></th>
            
          </tr>
          </thead>
          {% for service in users_services %}
          <tr> 
          <td class="sloupec"> {{ service[0] }} </td>
          <td class="sloupec"> {{ service[1] }} </td>
          <td><a href="/remove_service?id={{ service[2] }}"> odebrat službu </a></td>
          
          </tr> 
          {% endfor %}
          </table>
          <p>Nabídnout novou  <a href="/sluzby"> službu</a>. </p>
          <!-- possibility to delete service right from profile<p>Chci smazat službu /služby. Stačí kliknout <a href="/sluzby_update"> zde </a>. </p>  -->
  </div>
</div>



{% endblock %}