{% extends "layout.html" %}

{% block body %}

<img class="moje_foto" src="{{ nazev }}">

{{ sndmap.js }}   

{{ sndmap.html }}  

<h3>Můj profil</h3> 

<!-- Přidat možnost úpravy profilu - změna jména, města... -->
    
<p>Toto je přehled mých zaregistrovaných služeb:</p>

<table>
  <tr>
    <th class="sloupec"> Služba </th>
    <th class="sloupec"> Nabídka / Poptávka </th>
  </tr>
  {% for service in entries %}
  <tr> 
   <td class="sloupec"> {{ service[0] }} </td>
   <td class="sloupec"> {{ service[1] }} </td>
  </tr> 
   {% endfor %}
  </table>



<p>Chci přidat novou službu? Stačí kliknout <a href="/sluzby"> zde </a>. </p>
<p>Chci změnit služby, které nabízím / poptávám? Stačí kliknout <a href="/sluzby_update"> zde </a>. (POZOR: Všechny aktuálně zadané služby se tímto vymažou)</p>
<p>Hledám či poptávám službu? Stačí kliknout na celkový <a href="/prehled"> prehled </a>. </p>

<h3>Toto je přehled žádostí, ve kterých figuruji:</h3>

<p>(p) poptávající, (n) nabízející</p>

    <!-- <table class="table_requests"> -->
            <table class="table table-striped">
        <tr>
          <th class="sloupec"> Jméno (p) </th> 
          <th class="sloupec"> Příjmení (p)</th>
          <!-- <th class="sloupec"> Adresa (p)</th>
          <th class="sloupec"> Email (p)</th>
          <th class="sloupec"> Telefon (p)</th> -->
          <th class="sloupec"> Jméno (n) </th> 
          <th class="sloupec"> Příjmení (n)</th>
          <!-- <th class="sloupec"> Adresa (n)</th>
          <th class="sloupec"> Email (n)</th>
          <th class="sloupec"> Telefon (n)</th> -->
          <th class="sloupec"> Služba</th>
          <th class="sloupec"> Datum a čas setkání</th>
          <!-- <th class="sloupec"> Info</th> -->
          <!-- <th class="sloupec"> Vytvořeno</th> -->
          <th class="sloupec"> Status</th>
          <th class="sloupec"></th> 
        </tr>
        {% for request in requests %}
        <tr> 
         <td class="sloupec"> {{ request[0] }} </td>
         <td class="sloupec"> {{ request[1] }} </td>
         <!-- <td class="sloupec"> {{ request[2] }} </td>
         <td class="sloupec"> {{ request[3] }} </td>
         <td class="sloupec"> {{ request[4] }} </td> -->
         <td class="sloupec"> {{ request[5] }} </td>
         <td class="sloupec"> {{ request[6] }} </td>
         <!-- <td class="sloupec"> {{ request[7] }} </td>
         <td class="sloupec"> {{ request[8] }} </td>
         <td class="sloupec"> {{ request[9] }} </td> -->
         <td class="sloupec"> {{ request[10] }} </td>
         <td class="sloupec"> {{ request[11] }} </td>
         <!-- <td class="sloupec"> {{ request[12] }} </td>
         <td class="sloupec"> {{ request[13] }} </td> -->
         <td class="sloupec"> {{ request[14] }} </td>
         <td class="sloupec"> <a href="/requests_detail?id={{ request[15] }}">detail</a> </td>
         </tr> 
         {% endfor %}
        </table>

{% endblock %}