{% extends "layout.html" %}

{% block body %}

{{ sndmap.js }}   


<div class="row">
    <div class="column">
    
    <p> <b>Jméno:</b> {{name}} </p>
    <p> <b>Info o mně:</b> {{info}} </p>

   
    {{ sndmap.html }}


    </div>
    
    <div class="column">
        <img align="right", class="moje_foto" src="{{ nazev }}">
        <p> <b>E-mail:</b> {{mail}} </p>
        <p> <b>Telefon:</b> {{phone}} </p>



        <p> <b>Toto je přehled mých zaregistrovaných služeb:</b></p>

        <table class="table table-striped">
          <thead class="thead-light">
          <tr>
            <th class="sloupec"> Služba </th>
            <th class="sloupec"> Nabízím / Hledám </th>
          </tr>
          </thead>
          {% for service in entries %}
          <tr> 
          <td class="sloupec"> {{ service[0] }} </td>
          <td class="sloupec"> {{ service[1] }} </td>
          </tr> 
          {% endfor %}
          </table>
          <p>Chci přidat novou službu? Stačí kliknout <a href="/sluzby"> zde </a>. </p>
          <p>Chci změnit služby, které nabízím / poptávám? Stačí kliknout <a href="/sluzby_update"> zde </a>. (POZOR: Všechny aktuálně zadané služby se tímto vymažou)</p>
  </div>
</div>

<!-- <h3>Toto je přehled žádostí, ve kterých figuruji:</h3>

<p>(p) poptávající, (n) nabízející</p>

    <table class="table_requests"> -->
            <!-- <table class="table table-striped">
                <thead class="thead-light">
        <tr>
          <th class="sloupec"> Jméno (p) </th> 
          <th class="sloupec"> Příjmení (p)</th>
          <th class="sloupec"> Jméno (n) </th> 
          <th class="sloupec"> Příjmení (n)</th>
          <th class="sloupec"> Služba</th>
          <th class="sloupec"> Datum a čas setkání</th>
          <th class="sloupec"> Status</th>
          <th class="sloupec"></th> 
          </thead>
        </tr>
        {% for request in requests %}
        <tr> 
         <td class="sloupec"> {{ request[0] }} </td>
         <td class="sloupec"> {{ request[1] }} </td>
          <td class="sloupec"> {{ request[2] }} </td>
         <td class="sloupec"> {{ request[3] }} </td>
         <td class="sloupec"> {{ request[4] }} </td> -->
         <!-- <td class="sloupec"> {{ request[5] }} </td>
         <td class="sloupec"> {{ request[6] }} </td> -->
         <!-- <td class="sloupec"> {{ request[7] }} </td>
         <td class="sloupec"> {{ request[8] }} </td>
         <td class="sloupec"> {{ request[9] }} </td> -->
         <!-- <td class="sloupec"> {{ request[10] }} </td>
         <td class="sloupec"> {{ request[11] }} </td> -->
         <!-- <td class="sloupec"> {{ request[12] }} </td>
         <td class="sloupec"> {{ request[13] }} </td> -->
         <!-- <td class="sloupec"> {{ request[14] }} </td>
         <td class="sloupec"> <a href="/requests_detail?id={{ request[15] }}">detail</a> </td>
         </tr> 
         {% endfor %}
        </table> -->

{% endblock %}