{% extends "layout.html" %}

{% block body %}

<p style="text-align: left; margin-top: 20px;"><b>Probíhající spolupráce</b></p>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <!-- <th class="sloupec"> Služba </th> 
        <th class="sloupec"> Pomáhám / přijímám </th>
        <th class="sloupec"> Jméno</th>
        <th class="sloupec"> Příjmení</th>
        <th class="sloupec"> Datum </th>
        <th class="sloupec"> Status </th>  -->
      </tr>
    </thead>
    {% for request in requests %}
    {% if (request[5] != "proběhlo") and (request[5] != "ohodnoceno")  %}
    <tr>   
      <td class="sloupec"> {{ request[0] }} </td>
      <td class="sloupec"> {{ request[1] }} </td>
      <td class="sloupec"> {{ request[2] }} </td>
      <td class="sloupec"> {{ request[3] }} </td>
      <td class="sloupec"> {{ request[4] }} </td>
      <td class="sloupec"> {{ request[5] }} </td>
      <td class="sloupec"> <a href="/requests_detail?id={{ request[6] }}">Detail</a> </td>
      </tr> 
      {% endif %}
      {% endfor %}
  </table>

<p style="text-align: left; margin-top: 20px;"><b>Historie spolupráce</b></p>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <!-- <th class="sloupec"> Služba </th> 
      <th class="sloupec"> Pomáhám / přijímám </th>
      <th class="sloupec"> Jméno</th>
      <th class="sloupec"> Příjmení</th>
      <th class="sloupec"> Datum </th>
      <th class="sloupec"> Status </th>  -->
    </tr>
  </thead>
  {% for request in requests %}
  {% if (request[5] == "proběhlo") or  (request[5] == "ohodnoceno") %}
  <tr> 
    <td class="sloupec"> {{ request[0] }} </td>
    <td class="sloupec"> {{ request[1] }} </td>
    <td class="sloupec"> {{ request[2] }} </td>
    <td class="sloupec"> {{ request[3] }} </td>
    <td class="sloupec"> {{ request[4] }} </td>
    <td class="sloupec"> {{ request[5] }} </td>
    <td class="sloupec"> <a href="/requests_detail?id={{ request[6] }}">Detail</a> </td>
      {% if (request[5] == "proběhlo") and (request[1] == "Přijímám") %}
      <td class="sloupec"> <a href="/feedback?id={{ request[6] }}">Hodnocení</a> </td>
      {% endif %}
    </tr> 
    {% endif %}
    {% endfor %}
  </table>

{% endblock %}