{% extends "layout.html" %}

{% block body %}

<!-- Services -->
<section id="sluzby">

<h5>Vyberte službu / služby, které můžete nabídnout, či které hledáte:</h5>


<p class="lead"> 
<form method="POST">
    {{ form.csrf_token }}
    

    {% for subfield in form.demandOffer %}
          <tr><td>{{ subfield }}</td><td>{{ subfield.label }}</td></tr>
    {% endfor %}

    <table class = "sluzbyTable">
   
       {% for checkBox in form.checkBoxes %}
       <tr><td style="padding-right:10px">{{ checkBox }}</td><td align="left">{{ checkBox.label }}
         <img src="/static/images/questionMarkIcon.jpg" width=50px data-toggle="popover" data-trigger="hover" data-container="body" data-placement="right" data-content="{{ checkBox.description }}"></td></tr>
       {% endfor %}
    </table>

    <p class = "textLeft"> Kliknutím na tlačítko "uložit" beru na vědomí a souhlasím s tím, že moje jméno, lokace a email bude zobrazeno dalším členům komunity Seniore. </p>
   
    <input type="submit" class="btn btn-outline-primary" value="Uložit">
    
</form>
  
</p>
  </section>

  {% endblock %}