{% extends "layout.html" %}

{% block body %}

<section id="sluzby">

    <h2>Služby</h2>
  
<p>Zaškrtněte činnosti, které nově nabízíte, či poptáváte.</p>

<form method="POST">
    {{ form.csrf_token }}
    

    {% for subfield in form.demandOffer %}
          <tr><td>{{ subfield }}</td><td>{{ subfield.label }}</td></tr>
    {% endfor %}

    <table class = "sluzbyTable">
   
       {% for checkBox in form.checkBoxes %}
       <tr><td>{{ checkBox.label }} {{ checkBox }}</td></tr>
       {% endfor %}
    </table>
   
    <input type="submit" class="btn btn-primary" value="Uložit změnu">
    
</form>
  
  
  </section>

  {% endblock %}