{% extends "layout.html" %}

{% block body %}

  <h3>Souhlasím s užitím osobních údajů</h3>

  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Nullam eget nisl. Aliquam in lorem sit amet leo accumsan lacinia. Aenean fermentum risus id tortor. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Etiam egestas wisi a erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Phasellus rhoncus. In dapibus augue non sapien. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aliquam erat volutpat.</p>

  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis condimentum augue id magna semper rutrum. Phasellus faucibus molestie nisl. Duis viverra diam non justo. Phasellus faucibus molestie nisl. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Etiam posuere lacus quis dolor. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Vivamus luctus egestas leo. Aliquam ante. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Donec quis nibh at felis congue commodo. Etiam bibendum elit eget erat. Donec iaculis gravida nulla. Integer imperdiet lectus quis justo.</p>
  
  <p>Nunc auctor. Nulla quis diam. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Nam sed tellus id magna elementum tincidunt. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Donec quis nibh at felis congue commodo. Nam quis nulla. Curabitur vitae diam non enim vestibulum interdum. Etiam neque. Aenean id metus id velit ullamcorper pulvinar. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.</p>


    
  <p> <b>Zpět na <a href="/registrace_email">registraci </a>.</b></p>
</section>

{% endblock %}  