{% extends "layout.html" %}

{% block body %}

<h3>Podmínky používání služby Seniore</h3>

<section class = "textLeft">

<ol>
  <li>Definice
    <ol>
    <li><strong>Provozovatelem</strong> služby Seniore (dále také „služba“) je Seniore, IČ 08025452 s.r.o., se sídlem Bratislavská 2323, 407 47 Varnsdorf, zapsaná v obchodním rejstříku vedeném Krajským soudem v Ústí nad Labem, oddíl C, vložka 42420.</li>
    <li><strong>Služba</strong> Seniore je software, který je dostupný z webové stránky <a href="http://www.seniore.org">seniore.org</a>.
    <ol>
    <li>Využívání služby Seniore je zdarma a řídí se pravidly, která jsou upravena těmito podmínkami.</li>
    <li>Hlavní funkcionalitou služby je propojení seniorů a dobrovolníků za účelem pomoci.</li>
    </ol>
    </li>
    <li><strong>Uživatelem</strong> služby je jakákoliv fyzická nebo právnická osoba odlišná od provozovatele, která aplikaci Seniore využívá.</li>
    </ol>
    </li>
    <!-- </ol>
  <ol start="2"> -->
  <li>Účel služby
  <ol>
  <li>Účelem služby je pomoci propojit dobrovolníky se seniory, kteří potřebují pomoci. Služba funguje jako komunitní platforma, kde se seznámí senioři s někým blízkým z jejich okolí, kdo může vypomoci.</li>
  <li>Pomoc v rámci služby je definována jako pomoc amatérského charakteru. V rámci služby je možné nabízet pouze takové činnosti, k nimž není potřeba žádné osvědčení. Nabízení ani poskytování lékařských, rehabilitačních a dalších obdobných služeby profesionálního charakteru není v Seniore dovoleny.</li>
  <li>V rámci služby Seniore je ZAKÁZÁNO provádět jakékoliv činnosti za účelem zisku. Služba je neplacená a nikdo z uživatelůnení oprávněn požadovat jakoukoliv finanční náhradu, kromě náhrady, která pokryje jím vynaložené náklady (například pořízení nákupu), což doloží stvrzenkou. Výše těchto nákladů nesmí přesáhnout 500,- Kč, slovy pět set korun českých.</li>
  <li>Služba Seniore slouží jako prostředek pro propojení lidí mezi sebou. Nebere na sebe rizika tohoto propojení. Než se spojíte, zajistěte svou bezpečnost. V žádném případě nepouštějte cizí lidi k sobě domů. Nemějte u sebe hotovost vyšší, než 500 Kč.</li>
  </ol>
  </li>
  <!-- </ol>
  <p> </p>
  <ol start="3"> -->
  <li>Užívání služby
  <ol>
  <li>Provozovatel uděluje Uživateli licenci k využití služby v rozsahu a za podmínek uvedených v uživatelském prostředí služby.</li>
  <li>Provozovatel uděluje Uživateli licenci bezúplatně.</li>
  <li>Uživatel má právo zřídit pouze jeden uživatelský účet.</li>
  <li>Provozovatel má právo službu nebo její část kdykoliv znepřístupnit, odstavit a/nebo ji znepřístupnit z příslušné internetové adresy, a to z jakéhokoliv důvodu.</li>
  <li>Provozovatel je oprávněn omezit počet Uživatelů a odmítnout registraci jakéhokoliv Uživatele bez udání důvodu</li>
  <li>Provozovatel má právo vymazat profil Uživatele z důvodu porušení ustanovení těchto podmínek.</li>
  <li>Uživatel se zavazuje při užívání služby jednat tak, aby jemu, Provozovateli ani dalším Uživatelům služby nevznikla žádná škoda.</li>
  </ol>
  </li>
  <!-- </ol>
  <p> </p>
  <ol start="4"> -->
  <li>Zobrazování údajů
  <ol>
  <li>Služba propojuje jednotlivé Uživatele mezi sebou. Aby se mohli spojit, zobrazí jejich jméno, přibližnou lokaci a emailovou adresu. Registrací do služby souhlasíte s tím, že tyto údaje budou zobrazeny ostatním Uživatelům.</li>
  <li>Pro účely bezpečnosti je vyžadováno poskytnutí příjmení a scan občanského průkazu (na kterém je možné zakrýt citlivé údaje). Tyto údaje jsou po dobu využívání služby Uživatelem uchovány v databázi Seniore. Nejsou ovšem viditelné běžným Uživatelům Seniore ani žádné třetí straně.</li>
  </ol>
  </li>
  <!-- </ol>
  <p> </p>
  <ol start="5"> -->
  <li>Ochrana osobních údajů
  <ol>
  <li>Provozovatel služby je ze zákona povinen chránit a zabezpečit poskytnuté údaje. Provozovatel proto využívá efektivní zabezpečovací technologie ktomu, aby byly osobní údaje chráněny před neoprávněným zpřístupněním nebo zneužitím.</li>
  <li>Podrobnější informace o ochraně osobních údajů naleznete v Zásadách ochrany osobních údajů zde: <a href="https://app.seniore.org/conditions_2">https://app.seniore.org/conditions_2</a></li>
  </ol>
  </li>
  <!-- </ol>
  <p> </p>
  <ol start="6"> -->
  <li><strong>Závěrečná ustanovení</strong>
  <ol>
  <li>Registrací do služby Seniore Uživatel souhlasí s výše uvedenými podmínkami.</li>
  </ol>
  </li>
  </ol>


<p class = "textLeft"> <b>Zpět na <a href="/registrace_email">registraci </a>.</b></p>
</section>


{% endblock %}  