{% extends "layout.html" %}

{% block body %}

<h3>Podmínky používání služby Seniore</h3>

<section class = "textLeft">

<p  class = "textLeft"> 1. Účel služby </p>
<ul>
  <li>1.1. Účelem služby je pomoci propojit dobrovolníky se seniory, kteří potřebují pomoci. Služba
    funguje jako komunitní platforma, kde se seznámí senioři s někým blízkým z jejich okolí, kdo může
    vypomoci. </li>
  <li>1.2. Pomoc v rámci služby je definována jako pomoc amatérského charakteru. V rámci služby je
    možné nabízet pouze ty činnosti, ne které není potřeba žádné osvědčení. Lékařské, rehabilitační,
    a další služby profesionálního charakteru nejsou v Seniore dovoleny.</li>
  <li>1.3. V rámci služby Seniore je ZAKÁZÁNO provádět jakékoliv činnosti s účelem vlastního zisku.
    Služba je neplacená a žádný z registrovaných členů nesmí vyžadovat jakoukoliv finanční náhradu,
    kromě náhrady, která pokryje jeho náklady (například nákup), což doloží složenkou. Výše těchto
    nákladů nesmí přesáhnout 500Kč, slovy pět set korun českých.</li>
  <li>1.4. Služba Seniore slouží jako prostředek pro propojení lidí mezi sebou. Nebere na sebe rizika
    tohoto propojení. Než se spojíte, zajistěte svou bezpečnost. V žádném případě nepouštějte k sobě
    cizí lidi domů. Nemějte u sebe hotovost vyšší, než 500 Kč.
    Zobrazování údajů</li> 
</ul>

<p  class = "textLeft"> 2. Zobrazování údajů </p>
<ul>
  <li>2.1. Služba propojuje jednotlivé její členy mezi sebou. Aby se mohli spojit, zobrazí jejich jméno,
    přibližnou lokaci a emailovou adresu. Registrací do služby souhlasíte s tím, že tyto údaje budou
    zobrazeny ostatním uživatelům. </li>
  <li>2.2. Pro účely bezpečnosti požadujeme i Příjmení a Scan občanského průkazu (na kterém je
    možné zakrýt citlivé údaje). Tyto údaje zůstávají po dobu Vašeho využívání služby v databázi
    Seniore. Nejsou ovšem viditelné běžným členům komunity Seniore ani žádné třetí straně.</li>
  </ul>

  <p class = "textLeft"> 3. Závěrečná ustanovení </p>
  <ul>
    <li>Registrací do služby Seniore souhlasím s Výše uvedenámi podmínkami. </li>
  </ul>


<p class = "textLeft"> <b>Zpět na <a href="/registrace_email">registraci </a>.</b></p>
</section>


{% endblock %}  