{% extends "layout.html" %}

{% block body %}


  <h3>Souhlasím s užitím osobních údajů</h3>

  <section>
  <p>Tímto udělujete souhlas společnosti Seniore, s. r. o., se sídlem Bratislavská 2323, 407 47 Varnsdorf, IČ: 08025452, zapsané ve veřejném rejstříku vedeném u Krajského soudu v Ústí nad Labem,číslo listiny C 43383/SL1/KSUL (dále jen „Správce“), aby ve smyslu nařízení Evropského parlamentu a Rady (EU) č. 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů), (dále jen „Nařízení“) zpracovávala tyto osobní údaje: jméno a příjmení, adresa bydliště, e-mail, telefonní číslo, fotografie, datum narození, kopie občanského průkazu. </p>

  <p> Jméno, příjmení, adresu bydliště, e-mail, telefonní číslo, datum narození, kopii občanského průkazu a fotografii je možné zpracovat na základě Vámi uděleného souhlasu a je nutné je zpracovat za účelem registrace a následného využívání služby Seniore. Tyto údaje budou Správcem zpracovány po dobu využívání služby Seniore uživatelem. </p>
  <p>  S výše uvedeným zpracováním udělujete svůj výslovný souhlas. Poskytnutí osobních údajů je dobrovolné. Souhlas lze vzít kdykoliv zpět, a to zasláním e-mailu na adresu contact@seniore.org. </p>
    
  <p>  Vezměte, prosím, na vědomí, že podle Nařízení máte právo: </p>
  <ul>
    <li>vzít souhlas kdykoliv zpět, </li>
    <li>požadovat po nás informaci, jaké vaše osobní údaje zpracováváme, žádat si kopii těchto údajů,</li>
    <li>vyžádat si u nás přístup k těmto údajům a tyto nechat aktualizovat nebo opravit, popřípadě požadovat omezení zpracování,</li>
    <li>požadovat po nás výmaz těchto osobních údajů,</li>
    <li>podat stížnost u Úřadu pro ochranu osobních údajů nebo se obrátit na soud.</li>
    
  </ul>

  <p> Vámi poskytnuté osobní údaje nebudou předmětem automatizovaného rozhodování ani profilování. </p>


    
  <p> <b>Zpět na <a href="/registrace_email">registraci </a>.</b></p>
</section>

{% endblock %}  