{% extends "layout.html" %}

{% block body %}

<section class="fotogalerie" id="fotogalerie">
  
  <h3>Jak na správnou fotografii?</h3>  
  
  <p>Fotografie je jedním z klíčových prvků Vaší prezentace a má velký vliv na rozhodování o spolupráci. Věnujte proto čas tomu, abyste pořídili správnou fotografii. Zabere Vám to pár minut.</p>

  <p>Fotografie by měla být portrétní. Zobrazuje obličej a část dekoltu. Focená osoba je na ní tak zepředu, nebo mírně natočená. Nikoliv však z boku. Tvařte se přirozeně. Úsměv není nikdy na škodu.</p>

  <figure>
  <img src="static/images/smile.png" alt="úsměv">
  <figcaption>Vhodná fotografie</figcaption>
  </figure>
  <figure>
  <img src="static/images/profile.png" alt="profile">
  <figcaption>Nevhodná fotografie</figcaption>
  </figure>
  <figure>
  <img src="static/images/body.png" alt="body">
  <figcaption>Nevhodná fotografie</figcaption>
  </figure>
  
  <p>Zpět na nahrání <a href="/registrace_photo"> fotografie </a>.</p>

</section>




{% endblock %}