{% extends "layout.html" %}
{% block header %}
{{ super() }} <!-- V hlavní šabloně se bude vypisovat aktuální uživatel, proto vyrenderujeme její header -->
{% endblock %}

<h3>Vítejte v aplikaci.</h3> 

{% block body %}
    <form method="POST" class="row justify-content-center">
        {{ form.hidden_tag() }}

        <table>
            <tr><td>{{ form.user.label }}:</td><td>{{ form.user(placeholder="Email zadaný při registraci") }}</td></tr>
            <tr><td>{{ form.password.label }}: </td><td>{{ form.password }}</td></tr>
             <tr><td><!--{{ form.submit.label }}--></td><td> {{ form.submit }}<td></tr> 
       </table>
    </form>
    <p><sub>Zapomněli jste své heslo? <a href="/zapomenute_heslo">Klikněte zde</a></sub></p>
    <br>
    <p> Zatím nejste členy? Registrujte se  <a href="/registrace_email">zde</a>.</p>


    <div class="text-center">
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <span style="color: red;">Chyba pole - {{ field }} hláška - {{ error }}</span><br>
        {% endfor %}
    {% endfor %}
    <hr>
    </div>
{% endblock %}
