{% extends "layout.html" %}

{% block body %}

<!-- Registration -->

<section class="registrace" id="registrace">
    
    <h3><center>Zadejte prosím nové heslo pro uživatele {{email}}.</center></h3>
       <form method="POST" class="row justify-content-center">
          {{ form.hidden_tag() }}
          <table>
            <tr><td>heslo: </td><td>{{ form.password }}</td></tr>
            <tr><td>heslo znovu: </td><td>{{ form.passwordAgain }}</td></tr>
            <tr><td colspan="2">{{ form.submit }}<td></tr>
          </table>
       </form>
</section>

{% endblock %}