{% extends "layout.html" %}

{% block body %}

<div class="container-progress-bar" style="width:50%">
  <div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
  </div>
</div>

<section class="registrace" id="registrace">
    
  <br>
  <p>Váš telefon budeme potřebovat k ověření registrace a kontaktu.</p>

  <br>
  
       <form method="POST" class="row justify-content-center">
          <!-- {{ form.hidden_tag() }} -->
          {{ form.csrf_token }}
      
        

        <table>
            <tr><td>Jméno:</td><td>{{ form.first_name }}</td></tr>
            <tr><td>Příjmení: </td><td>{{ form.surname }}</td></tr>
            <tr><td>Telefon: +420 </td><td> {{ form.telephone }}<td></tr>
            <tr><td></td><td> {{ form.submit }}<td></tr>
       </table>
       {% if form.errors %}
          {{ form.errors }}
        {% endif %}


      </form>

  </p>
</section>

{% endblock %}