{% extends "layout.html" %}

{% block body %}

<!-- Registration -->
<div class="container-progress-bar" style="width:50%">
  <div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
  </div>
</div>

<section class="registrace" id="registrace">
    
    <!-- <h2>Registrace</h2> -->

<p>Abychom se vzájemně mohli najít, potřebujeme vědět, kde se nacházíte. Kvůli bezpečnosti prosím zadejte pouze ulici, obec a PSČ.</p>

       <form method="POST" class="row justify-content-center">
          <!-- {{ form.hidden_tag() }} -->
          {{ form.csrf_token }}
      
        <table>
            <!-- <tr><td>Email (uživatelské jméno):</td><td> {{ form.email }}<td></tr>
            <tr><td>Heslo:</td><td> {{ form.password }}<td></tr>
            <tr></tr>
            <tr><td>Jméno:</td><td>{{ form.first_name }}</td></tr>
            <tr><td>Příjmení: </td><td>{{ form.surname }}</td></tr>
            <tr><td>Telefon:</td><td> {{ form.telephone }}<td></tr> -->
            <tr><td>Ulice:</td><td> {{ form.street }}<td></tr>
            <!-- <tr><td>Číslo popisné:</td><td> {{ form.street_number }}<td></tr> -->
            <tr><td>Město:</td><td> {{ form.town }}<td></tr>
            <tr><td>PSČ:</td><td> {{ form.post_code }}<td></tr>
            <tr><td></td><td> {{ form.submit }}<td></tr>
       </table>
       {% if form.errors %}
          {{ form.errors }}
        {% endif %}


      </form>

  </p>
</section>

{% endblock %}