{% extends "layout.html" %}

{% block body %}

<!-- Registration -->

<section class="registrace" id="registrace">
    
    <h2>Registrace</h2>
  
    <p>Prosím, vyplňte registrační formulář níže.</p>

    <p>
        <form method="POST" action='/add_name' >
            <div><label> Jméno </label> 
            <input type="text" name="first_name" placeholder="Jméno"></div>
            <div><label> Příjmení </label>
            <input type="text" name="surname" placeholder="Příjmení"></div>
            <div><label> E-mail </label>
            <input type="text" name="email" placeholder="e-mail"></div>
            <div><label> Adresa </label>
            <input type="text" name="address" placeholder="adresa"></div>
            <div><label> Telefon </label>
            <input type="text" name="telephone" placeholder="telefon"></div>
            <div><label> Heslo </label>
            <input type="password" name="password" placeholder="heslo"></div>
            <input type="submit" class="btn btn-default" value="Pokračovat">
        </form>
    </p>
</section>

{% endblock %}