{% extends "layout.html" %}

{% block body %}

<div class="container-progress-bar" style="width:50%">
  <div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:85%">85%</div>
  </div>
</div>

<h3>Přidejte prosím kopii / fotografii přední strany občanského průkazu. </h3> 

<br>

<p>V tomto kroce budeme potřebovat nahrát Váš občanský průkaz. </p>
<p> Pokud chcete, zakryjte (např. kusem papíru) citlivé údaje typu datum narození, nebo číslo OČ. Tyto údaje pro registraci nepotřebujeme. Fotografií občanky se chceme pouze ujistit, že se skutečně hlásíte Vy. Chráníme tím především naše seniory. Mockrát děkujeme za pochopení. </p>
<p> Nikomu dalšímu Vaše údaje nepředáme. </p> 
<p> Kdykoliv je budete chtít smazat, dejte nám vědět na contact@seniore.org.</p>



<form method="POST" class="row justify-content-center" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <table>
      <tr><td>{{ form.soubor.label }}:</td><td>{{ form.soubor }}</td></tr>
      <tr><td></td><td> {{ form.submit }}<td></tr>
  </table>
</form>
<div class="text-center">
{% for field, errors in form.errors.items() %}
  {% for error in errors %}
      <span style="color: red;">Chyba pole - {{ field }} hláška - {{ error }}</span><br>
  {% endfor %}
{% endfor %}
<hr>

</div>

{% endblock %}