<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Seniore aplikace</title>
  <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> -->
  <link rel="stylesheet" href="static/style.css" type="text/css"/>
</head>
<body>

<!-- this is header-->
  <header class="hlavicka">
  <h1>Aplikace</h1>
  </header>
  
  <ul class="menu">
    <li><a href="/"> Úvod </a></li>
    <li><a href="/registrace"> Registrace </a></li>
    <li><a href="/sluzby"> Služby </a></li>
    <li><a href="/prehled"> Přehled </a></li>
    </ul>

   
  {% block body %} 
  
    <p align="center" > Toto je úvodní stránka aplikace :-) </p>

  {% endblock %}


  <!-- Footer -->
  <footer class="paticka"> 
  <p> © 2019, Seniore </p> 
  </footer>

</body>
</html>
