<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Seniore aplikace</title>
  <!-- jQuery first, then jQuery min.js, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <script src="{{url_for('static', filename='navItemColor_upd.js')}}"></script>
<head>


<body>

<div class="main-container">
<div class="content-wrap">
  <header>
{% block header %}

<div class="hlavicka">
    <div class="container">
          <div class="topnav">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="http://seniore.org/"><img src="/static/images/logo4-1.png" class="img-fluid" alt="LOGO" width=80px></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="nav navbar-nav ml-auto ">
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="/"> Úvod </a>
                      </li> -->
                        {% set user = session["user"] %}
                        {% set level = session["level_user"] %}
                        {% if user %}
                      
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="/sluzby"> Nabídnout </a>
                      </li> -->
                      <li class="nav-item">
                      <a class="nav-link" href="/prehled_all"> Vyhledat </a>
                      </li>
                      <li class="nav-item">
                      <a  class="nav-link" href="/user_request_overview"> Přehled </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link" href="/profil" id="profil_menu"> Profil </a>
                      </li>
                        {% if level == 2 %}
                      <li class="nav-item">
                      <a  class="nav-link" href="/requests"> Žádosti (admin) </a>
                      </li>
                        {% endif %}
                      <!-- <li class="nav-item">
                      <a  class="nav-link" href="/logout"> Odhlásit </a>
                      </li> -->
                      {% else %}
                      <!-- <li class="nav-item">
                      <a class="nav-link" href="/login"> Login </a>
                      </li> -->
                      <!-- <li class="nav-item">
                      <a  class="nav-link" href="/registrace_email"> Registrace </a>
                      </li> -->
                        {% endif %}
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
  </div>

{% endblock %}
</header>

  <!-- <p class="login">
      {% set user = session["user"] %}
      Login -
      {% if user %}
        {{ user }}
      {% else %}
        Nejsi přihlášen
      {% endif %}
      </p> -->

    <!-- flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="alert", style="list-style-type:none;">
      {% for category, message in messages %}
        <li class = "{{category}}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  {% block body %} 
  
    <!-- <h3>Vítejte v aplikaci Seniore!</h3>

    <p> Více o celé myšlence Seniore naleznete přímo na stránkách <a href="http://seniore.org/">Seniore.org</a></p>

    <p>Aplikace je stále ve vývoji. Omlouváme se za možné výpadky. V případě dotazů / problémů, prosím, kontaktujte administrátora na e-mailu katacek@seniore.org. Děkujeme předem i za jakoukoliv zpětnou vazbu a návrhy na zlepšení. </p> -->

   
      
  {% endblock %}
    </div>

  <!-- <footer class="paticka"> 
  <p> © 2019, Seniore </p> 
  </footer> -->

</div>
</body>
</html>

