{% extends "layout.html" %}

{% block body %}

<section class="registrace" id="registrace">
    
  <h2>Kontaktní formulář</h2>

  Vytváříte poptávku na následující:

  <ul>
    <li><strong>Poptávám / nabízím: </strong> {{ demand_offer }}</li>
    <li><strong>Služba:</strong> {{ services }}</li>
  </ul>

  <p>Prosím, doplňte bližší informace.</p>

  <p>
      <form method="POST" action='/email_sent/' >
        
        <input type="hidden" name="id" value="{{ id }}"></div>
        <div><label> Datum </label>
          <input type="date" name="date" placeholder="datum"></div>
          <div><label> Čas </label>
          <input type="time" name="time" placeholder="Čas"></div>
          <div><label> Místo </label>
          <input type="text" name="place" placeholder="místo"></div>
          <input type="submit" class="btn btn-default" value="Poslat poptávku">
      </form>
  </p>
</section>





{% endblock %}