{% extends "layout.html" %}

{% block body %}

<!-- Registration -->

<section class="registrace" id="registrace">
    
    <h2>Registrace</h2>
  
    <p>Prosím, vyplňte tabulku níže.</p>

    <table>
     <!-- to be replaced by fillin form -->
     <!-- data goes to users table -->
      <tr>
        <th> User table info</th> <th class="sloupec">  Vyplnit</th>
      </tr>
      <tr> <td>Jméno</td> <td class="sloupec"> xxx </td>
      </tr> 
      <tr>
        <td>Příjmení</td> <td class="sloupec"> xxx </td> 
      </tr>
      </table>

</section>

{% endblock %}