{% extends "layout.html" %}

{% block body %}

<!-- Services -->
<section id="sluzby">

    <h2>Děkujeme. Vámi zadané údaje jsou:</h2>
    <ul>
      <li><strong>Jméno: </strong> {{ first_name }}</li>
      <li><strong>Příjmení:</strong> {{ surname }}</li>
      <li><strong>Email:</strong> {{ email }}</li>
      <li><strong>Telefon:</strong> {{ telephone }}</li>
      <li><strong>Adresa:</strong> {{ address }}</li>
      <li><strong>Nabídka / Poptávka:</strong> {{ demand_offer }}</li>
      <li><strong>Služba:</strong> {{ category }}</li>
    </ul>
    <h3>Other data</h3>
    <ul>
      <li><strong>Secret Key:</strong> {{ secret_key }}</li>
      <li><strong>Submit Button:</strong> {{ submit_value }}</li>
    </ul>



{% endblock %}