{% extends "layout.html" %}

{% block body %}


<section align="left">

    <h3>Instrukce pro dobrovolníky</h3>
  
    <br>
  
    <p>Vážení dobrovolníci - naše komunitní platforma umožní našim dobrovolníkům nabídnout a poskytnout pomoc potřebným, tedy Seniorům - babičkám a dědečkům, kteří jsou v současné krizové situaci způsobené epidemií COVID-19 vystaveni velkým rizikům. My v Seniore si uvědomujeme naléhavost situace a chceme se nejen aktivně zapojit, ale hlavně propojit ty, kteří pomoc potřebují s těmi, kteří ji nabízejí.</p>
  
  <p>Protože v tento moment pouze propojujeme komunity, ale neorganizujeme konkrétní nákupy nebo logistiku, je potřeba dodržovat jednoduchá pravidla:</p>
  <ul>
  <li>Pokud disponujete vlastními rouškami, (polo)maskami, dezinfekcí, rukavicemi - prosím, používejte je, ideálně při převzetí potravin. Pokud pomůckami nedisponujete, o to důkladněji dodržujte hygienická pravidla a doporučení Ministerstva zdravotnictví: <a href='https://koronavirus.mzcr.cz/'> MZ - koronavirus </a>. Jakmile bude možnost zdravotnické a hygienické pomůcky zakoupit, prosíme, neváhejte a udělejte to bezodkladně.</li>
  <li> Domluvte se se Seniorem, nebo jeho kontakty/registrátory přímo, údaje naleznete zde v aplikaci. Mějte na vědomí, že s ohledem na nouzovou situaci v současné době pouze propojujeme komunity, neorganizujeme vlastní proces nákupu či logistiky.</li>
  <li> Pro prokázání identity u sebe mějte občanský průkaz, aby si Senior mohl ověřit vaši totožnost</li>
  <li>Nákupy a rozvoz se snažte optimalizovat tak, abyste minimalizovali čas strávený v obchodech, na benzinkách apod. Např. udělejte jeden velký nákupní seznam, vše nakupte při jedné návštěvě obchodu a pak rovnou zásilky rozvezte.</li>
  </ul>
    

 
  <p> <b>Zpět na <a href="/prehled_all">prehled </a>.</b></p>
  </section>
  
  {% endblock %}  
