{% extends "layout.html" %}

{% block head %}
{{ super() }}

<script src="{{url_for('static', filename='appInfoModal.js')}}"></script>
{% endblock %}

{% block body %}

{{ sndmap.js }}   




    <!-- <h3> Filtrovat <a href="/prehled"> nabídku  </a> </h3> 
    <p> Pokud chcete filtrovat dle typu služby / hledat poptávku, stačí kliknout <a href="/prehled"> zde </a>. </p>  -->
    <div class="profile_row">
      
      <div class="profile_column_non_flex">
          <form method="POST">
              {{ form.csrf_token }}
            
            
            {% if onMap == False %}
             <p  class="btn btn-primary" > <a href="/sluzby" style="color: rgb(245, 245, 245)">Zobrazit mě ostatním</a> <p>

            {% else %}
            <p  class="btn btn-primary" > <a href="/sluzby_delete" style="color: rgb(245, 245, 245)">Nezobrazovat mě na mapě</a> <p></p>
            {% endif %}

            <table>
              {% for subfield in form.demandOffer %}
                    <tr><td>{{ subfield }}</td><td>{{ subfield.label }}</td></tr>
              {% endfor %}
            </table>
              
              <table class = "sluzbyTable">
              {% for checkBox in form.checkBoxes %}
              <tr><td style="padding-right:10px">{{ checkBox }}</td><td align="left">{{ checkBox.label }}<img src="/static/images/questionMarkIcon.jpg" width=50px data-toggle="popover" data-trigger="hover" data-container="body" data-placement="top" data-content="{{ checkBox.description }}"></td></tr>
              {% endfor %}
              </table>
             
              <input type="submit" class="btn btn-outline-primary" value="Filtrovat">

              <table>
                <tr><td><a href="/podminky_seniori">Instrukce senioři </a> </td></tr>
                <tr><td><a href="/podminky_dobrovolnici">Instrukce dobrovolníci </a> </td></tr>
              </table>



      </div>
      <div class="profile_column">
        {{ sndmap.html }} 
    </div>
    </div>

  <div class="modal fade" id="login-info-modal" tabindex="-1" role="dialog" aria-label="Informační dialog o zobrazování seniorů v aplikaci" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pro Vaši informaci:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Senioři se v aplikaci zobrazují jen po dobu, kdy hledají dobrovolníka.
            </div>
            <div class="modal-footer">
                Děkujeme za Vaši pomoc!
            </div>
        </div>
    </div>
  </div>
      

{% endblock %}