{% extends "layout.html" %}

{% block body %}

{{ sndmap.js }}   



    <h3>Všechny aktuálně zaregistrované nabídky služeb. </h3> 
    <p> Pokud chcete filtrovat dle typu služby / hledat poptávku, stačí kliknout <a href="/prehled"> zde </a>. </p> 
    <div class="profile_row">
      <div class="profile_column">
          {{ sndmap.html }} 
      </div>
      <div class="profile_column_non_flex">
          <form method="POST">
              {{ form.csrf_token }}
              
          
              {% for subfield in form.demandOffer %}
                    <tr><td>{{ subfield }}</td><td>{{ subfield.label }}</td></tr>
              {% endfor %}
              
              <table class = "sluzbyTable">
              {% for checkBox in form.checkBoxes %}
              <tr><td style="padding-right:10px">{{ checkBox }}</td><td align="left">{{ checkBox.label }}</td></tr>
              {% endfor %}
              </table>
             
              <input type="submit" class="btn btn-primary" value="Filtrovat">
      </div>
    </div>
      

{% endblock %}